.sidebar(ng-class="{'sidebar-opened' : vm.model.isOpened,'sidebar-closed' : !vm.model.isOpened }" , role='navigation')
  .list-group
    // list item
    a.list-group-item(href='')
      .media-box
        .pull-right
          em.fa.fa-bell-o.text-info
        .media-box-body.clearfix
          p.m0 Notifiche
          p.m0.text-muted
            small nuovo contratto
            span.label.label-info.pull-right 1
    // list item
    a.list-group-item(href='')
      .media-box
        .pull-right
          em.fa.fa-envelope.text-primary
        .media-box-body.clearfix
          p.m0 Messaggi
          p.m0.text-muted
            small nuovi messaggi
            span.label.label-primary.pull-right 7
    // list item
    a.list-group-item(href='')
      .media-box
        .pull-right
          em.fa.fa-tasks.text-success
        .media-box-body.clearfix
          p.m0 Attivit&agrave; in corso
          p.m0.text-muted
            small pending task
            span.label.label-success.pull-right 4
    // last list item
    a.list-group-item(href='')
      small.ng-scope(translate='topbar.notification.MORE')
        span.ng-scope Altre notifiche
      span.label.label-danger.pull-right 3
