@import "../../less/bootstrap/variables.less";


.sidebar{
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
  margin-top: 10px;
  position: fixed;
  width: 200px;
  top: @navbar-height+15;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 80%;
  z-index: 99999;
}

.sidebar-closed{
  margin-left: -160px;
  border: 2px solid rgba(255,198,62,1);
  background: rgba(255,198,62,1);

}

.sidebar-opened{
  margin-left: 0px;
  border: 2px solid rgba(255,198,62,0.8);
  background: rgba(255,198,62,0.8);

}


/*
@media (min-width: 765px) {


  nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
  }

  nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }

  nav.sidebar a{
    padding-right: 13px;
  }

  nav.sidebar .navbar-nav > li:first-child{
    border-top: 1px #e5e5e5 solid;
  }

  nav.sidebar .navbar-nav > li{
    border-bottom: 1px #e5e5e5 solid;
  }

  nav.sidebar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
    padding: 0 0px 0 0px;
  }


  nav.sidebar{
    width: 200px;
    height: 100%;
    margin-left: -160px;
    float: left;
    margin-bottom: 0px;
  }

  nav.sidebar li {
    width: 100%;
  }

  nav.sidebar.openMenu{
    margin-left: 0px;
    opacity: 70;
  }

  .forAnimate{
    opacity: 0;
  }
}


nav:hover .forAnimate{
  opacity: 1;
} */
