//MENU
header
  beatbox-menu
  //MENU END
aside
  beatbox-sidebar

//footer
  //FOOTER
  nav.navbar.navbar-default.navbar-fixed-bottom
    .container-fluid
      .navbar-header
        //a.navbar-brand(href='#')
          img(alt='Enel', src='assets/images/enel-logo-e.png')
        a.navbar-brand(href='#')
          | FOOTER
      //#bs-navbar-collapse-6.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(ng-href='#') Home
          li
            a(ng-href='#') About
          li
            a(ng-href='#') Contact

  //FOOTER END


beatbox-actionbar
.container-fluid(style='display: inline-block;width:100%;height:100%')
  beatbox-stage(apps="vm.model.apps")


