.well.well-sm(ng-controller='App1Ctrl')
  table.table.table-striped.table-responsive(st-table='displayedCollection', st-safe-src='rowCollection')
    thead
      tr
        th(st-sort='col1') Evento
        th(st-sort='col2') Data
        th(st-sort='col3') Luogo
      tr
        th(colspan='4')
          .form-group(style="width:100%")
            .input-group
              .input-group-addon
                i.fa.fa-fw.fa-search
              input.input-sm.form-control(st-search='', placeholder='Ricerca nei dati', type='text')
    tbody
      tr(ng-repeat='row in displayedCollection')
        td
          i.fa.fa-fw(ng-class="row.col0")
          |{{row.col1}}
        td {{row.col2 | date: format : fullDate}}
        td(beatbox-action-command="map")
          i.fa.fa-fw.fa-map-pin
          |{{row.col3}}
        td
          button.btn.btn-sm.btn-default(type='button', beatbox-action-command="note" beatbox-action-callback="api.callbackNote(row)")
            i.fa.fa-fw.fa-sticky-note
            | Note

