div(ng-controller='RadarCtrl')
  h3 Consumi Istantanei
  canvas#bar.chart.chart-line.maxH(chart-data='data',chart-labels='labels', chart-options="powerOpt")
  hr
  h3 Grafico per Fascia Oraria
  canvas#radar.chart.chart-radar.maxH2.maxW2(chart-data='dataRad', chart-options='options', chart-labels='labelsRad')




