.well.well-sm(ng-controller='App3Ctrl')
  table.table.table-striped.table-responsive(st-table='displayedCollection', st-safe-src='rowCollection')
    thead
      tr
        th(st-sort='col1') Utenza
        th(st-sort='col2') Importo
        th(st-sort='col3') Pagato
      tr
        th(colspan='3')
          .form-group(style="width:100%")
            .input-group
              .input-group-addon
                i.fa.fa-fw.fa-search
              input.input-sm.form-control(st-search='', placeholder='Ricerca nei dati', type='text')
    tbody
      tr(ng-repeat='row in displayedCollection',beatbox-action-command="note")
        td {{row.col1}}
        td {{row.col2 | currency}}
        td
          span.badge.payment
            i.fa.fa-fw.fa-eur(ng-class="{'red':!row.col3 , 'green':row.col3}")


