@import "../../less/bootstrap/variables.less";



.beatbox-app {
  height: 100%;
  overflow: auto;
  //display: flex;
  //margin-top: 15px;
  //display:table;
  //border-radius: 2px;
  //display:inline-block;
}

.beatbox-app-closed{
  border-right: 1px dashed #000000
}

.label-rotate{
  transform: rotate(90deg);
}

.beatbox-app-opened{
  border-right: 2px solid #000000;
}

.beatbox-app-glass {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  background:rgba(0,0,0, .04);
  height: 100%;
  //position: absolute;
  //border: 1px solid black;
  width: 100%;
}


.beat-container{
  position: relative;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.beatbox-app-closed-label{
  writing-mode: vertical-lr;
}

.animate-enter,
.animate-leave
{
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}


.beat-container-body{
  padding-left: 5px;
  padding-right: 5px;
  overflow: auto;
}
