.beatbox-app(ng-class="{'beatbox-app-closed':!vm.model.isFocused,'beatbox-app-opened':vm.model.isFocused}")

  .container-fluid.beat-container(ng-if="!vm.model.isFocused && vm.stageInfo.viewState!='opened'")

    span.pull-right(ng-if="!vm.model.isFocused && vm.stageInfo.viewState != 'opened'")
      span.btn(ng-click='vm.api.open()')
        i.fa.fa-fw.fa-expand
    .beatbox-app-glass(ng-if="!vm.model.isFocused", ng-click="vm.api.open()")
    span.beatbox-app-closed-label {{vm.model.name}}
    //small {{vm.model|json}}
  .container-fluid.beat-container(ng-if="vm.model.isFocused || vm.stageInfo.viewState=='opened'" )
    .beatbox-app-glass(ng-if="!vm.model.isFocused", ng-click="vm.api.requestFocus()")
      span.pull-right
        span.btn(ng-click='vm.api.close()')
          i.fa.fa-fw.fa-compress
    //h1 {{vm.model.name}}
    //pre {{vm.model|json}}
    panel
      panel-header
        h3 {{vm.model.name}}
      panel-body
        .container-fluid.beat-container-body(ng-include='vm.model.templateUrl')
