/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower


@import "less/bootstrap/variables.less";
@import "../../bower_components/font-awesome/less/font-awesome.less";

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap/less/variables.less
 */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html, body { height: 100%; overflow: hidden; }
body{
  min-height: 100%;
  padding-top: @navbar-height;;
  padding-bottom: @navbar-height;
}
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector
