div.pull-right(style='display:inline-block; min-height:290px;')
  .well.well-sm(uib-datepicker='', ng-model='vm.output', datepicker-options='vm.options')
  .btn.btn-success(ng-click="vm.done()")
    i.fa.fa-fw.fa-check
    | Fatto
