.content {
  height: 100%;
}

.red {
  color: red;
}

.green {
  color: green;
}

.payment {
  background-color: white;
  border: 1px solid black;
}

.maxH{
  height: 200px;
}
.maxW{
  //max-width: 200px;
}

.maxH2{
  max-height: 400px;
}
.maxW2{
  max-width: 400px;
}
