nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      //a.navbar-brand(href='#')
        img(alt='Enel', src='assets/images/enel-logo-e.png')
      a.navbar-brand(href='#')
        | {{vm.model.onStage.name}}
    #bs-example-navbar-collapse-6.collapse.navbar-collapse
      ul.nav.navbar-nav
        li(ng-repeat='item in vm.model.onStage.menuItem')
          a(ng-href='#') {{item.label}}
