@import "../../less/bootstrap/variables.less";

.action-bar {
  position: fixed;
  right: 0;
  //left: 0;
  bottom:0;
  margin-bottom: @navbar-height + 5;
  //max-width: 30px;
  z-index: 9999;

}

.action-bar>li{
  position: relative;
  display: block;

}

.actions {
  list-style: none;
  border-bottom: 10px;
  margin-bottom: 0;
  padding-left: 0;

 //

  li {
    float: none;
    margin: 2px;
    border-bottom: #ffffff;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    background-color: #58b947;
    writing-mode: vertical-lr;

    a {
      margin-right: 0;
      border: 0;

      color: #fff;

      &:hover {
        background-color: #444;
      }
    }
  }

  .glyphicon {
    color: #fff;
  }

  .active .glyphicon {
    color: #333;
    border-color: #0f0f0f;
    border-width: 1px;

  }
}


.actions>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border-left: 1px ;
  border-color: #58b947;
  background-color: #fff;
  color: #0f0f0f;

}

.list-group {
  width: 100%;

  .list-group-item {
    //height: 50px;

    h4, span {
      line-height: 11px;
    }
  }
}

