.action-bar(ng-show="!vm.model.onCommand")
  ul.nav.actions
    //li.active
      a(href='#a', data-toggle='tab')
        span.glyphicon.glyphicon-heart
        | &nbsp; Ciao
    li(ng-repeat='action in vm.model.onStage.actions',beatbox-action-command="{{action.command}}")
      a(href='#b', data-toggle='tab')
        i.fa.fa-rotate-90(ng-class="action.icon")
        | &nbsp; {{action.label}}
  // /tab-content
// /tabbable
